<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/login-register.css}" rel="stylesheet">
</head>

<body>

<main>

    <div class="screen active" id="registerScreen">

        <form id="register" class="tile" method="post">

            <h2 class="tileHeading">Register</h2>
            <div class="tileMain">
                <label for="email">Email:<input id="email" name="email" required type="email"></label>
                <label for="password">Password:<input id="password" name="password" required type="password"></label>
            </div>
            <div class="tileFooter">
                <input type="submit" value="Create Account">
                <a href="/login"><input type="button" value="Already got an acount?" id="register"></a>
            </div>


        </form>

    </div>

</main>

<script crossorigin="anonymous" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script th:src="@{js/lib.js}" type="text/javascript"></script>
<script th:src="@{js/register.js}" type="text/javascript"></script>
</body>

</html>