<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/login-register.css}" rel="stylesheet">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css}" rel="stylesheet">
</head>
<body th:data="${token}">
<main class="screen active">
        <div class="screenMain">
            <div class="tile">
                <h2 class="tileHeading">Reset your Password</h2>
                <form class="tileMain">
                    <label>
                        New Password:
                        <input type="password" id="newPassword" required>
                    </label>
                    <label>
                        Repeat new Password:
                        <input type="password" id="repeatPassword" required>
                    </label>
                </form>
                <div class="tileFooter">
                    <input type="submit" value="Change Password">
                </div>
            </div>
        </div>
</main>
<script crossorigin="anonymous" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script th:src="@{/js/lib.js}" type="text/javascript"></script>
<script th:src="@{/js/resetPassword.js}" type="text/javascript"></script>
<script th:src="@{/js/cookie.notice.js}" type="text/javascript"></script>
</body>

</html>